<nav class="navbar">
    <div class="nav-links">
        <a href="/" class="nav-button">Forside</a>
        <a href="/faceit" class="nav-button">FaceIt</a>
        <a href="/boxhead" class="nav-button">Box Head</a>
    </div>
</nav>